<div id="naruto-hero-statistics" class="naruto-summary-stats-container">
    <h3>{{localize "NarutoD20.SummaryStats.Header"}}</h3>
    <div class="attributes flexrow naruto-summary-stats">
        <div class="info-box current" title="{{localize 'NarutoD20.SummaryStats.ActionPoints'}}">
            <h5><a class="rollable naruto-action-point-roll" data-tooltip="{{localize 'NarutoD20.SummaryStats.RollActionPoint'}}">{{localize "NarutoD20.SummaryStats.ActionPoints"}}</a></h5>
            <input class="value text-box direct allow-relative" type="text" name="flags.naruto-d20.actionPoints" value="{{flags.naruto-d20.actionPoints}}" data-dtype="Number" placeholder="0">
        </div>
        
        <div class="info-box current" title="{{localize 'NarutoD20.SummaryStats.Reputation'}}">
            <h5>{{localize "NarutoD20.SummaryStats.Reputation"}}</h5>
            <input class="value text-box direct allow-relative" type="text" name="flags.naruto-d20.reputation" value="{{flags.naruto-d20.reputation}}" data-dtype="Number" placeholder="0">
        </div>
        
        <div class="info-box current" title="{{localize 'NarutoD20.SummaryStats.Wealth'}}">
            <h5>{{localize "NarutoD20.SummaryStats.Wealth"}}</h5>
            <input class="value text-box direct allow-relative" type="text" name="flags.naruto-d20.wealth" value="{{flags.naruto-d20.wealth}}" data-dtype="Number" placeholder="0">
        </div>
    </div>
    <hr class="naruto-summary-divider">
</div>
