<form class="naruto-technique-medkit-content" autocomplete="off">
    <header class="medkit-summary flexrow">
        <span class="medkit-count out-of-date" data-tooltip="{{localize "NarutoD20.Medkit.Status.OutOfDate"}}">
            <i class="fa-solid fa-triangle-exclamation"></i> {{counts.outOfDate}}
        </span>
        <span class="medkit-count up-to-date" data-tooltip="{{localize "NarutoD20.Medkit.Status.UpToDate"}}">
            <i class="fa-solid fa-circle-check"></i> {{counts.upToDate}}
        </span>
        <span class="medkit-count orphan" data-tooltip="{{localize "NarutoD20.Medkit.Status.Orphan"}}">
            <i class="fa-solid fa-link-slash"></i> {{counts.orphan}}
        </span>
    </header>

    {{#if hasRows}}
    <ol class="medkit-list">
        {{#each rows}}
        <li class="medkit-row {{statusCss}}" data-item-id="{{id}}">
            <div class="medkit-pick-cell">
                {{#if syncable}}
                <input type="checkbox" class="medkit-pick" data-item-id="{{id}}" checked>
                {{/if}}
            </div>
            <img class="medkit-img" src="{{img}}" width="24" height="24" alt="" />
            <div class="medkit-name">
                <span class="medkit-title">{{name}}</span>
                <span class="medkit-meta">{{discipline}}{{#if rank}} · Rank {{rank}}{{/if}}</span>
            </div>
            <div class="medkit-status {{statusCss}}">
                <i class="fa-solid {{statusIcon}}"></i> {{statusLabel}}
            </div>
        </li>
        {{/each}}
    </ol>
    {{else}}
    <p class="medkit-empty">{{localize "NarutoD20.Medkit.Empty"}}</p>
    {{/if}}

    <footer class="medkit-footer flexrow">
        <button type="button" data-action="select-outdated" {{#unless hasOutOfDate}}disabled{{/unless}}>
            <i class="fa-solid fa-list-check"></i> {{localize "NarutoD20.Medkit.SelectOutdated"}}
        </button>
        <button type="button" data-action="sync" {{#unless hasOutOfDate}}disabled{{/unless}}>
            <i class="fa-solid fa-kit-medical"></i> {{localize "NarutoD20.Medkit.SyncSelected"}}
        </button>
    </footer>
</form>
