<div class="naruto-technique-card {{cssClass}}">
    <header><h3>{{name}}</h3></header>
    {{#if message}}<p{{#if messageClass}} class="{{messageClass}}"{{/if}}>{{message}}</p>{{/if}}
    {{#if footer}}<footer>{{footer}}</footer>{{/if}}
</div>
